
*{
  transition: all 0.2s ease;

}
.container-fluid{
  display: flex;
  flex-direction: column;
}
table tbody tr {
  cursor: pointer;
  /* background-color: #282c34; */
}
table tbody tr:hover td{
  background-color: rgb(247, 244, 244);
}

.table{
  margin: auto !important;
}
table td,tr{
  text-align: center;
}
/* .th-refresh{width: ;} */
.refresh{
  display: flex;
  justify-content: center;
  width: 25px;
  align-items: center;

 padding: 3px !important;
  cursor: pointer;
  border-radius: 5px;
  align-self: end;
  /* position: absolute; */
  margin-bottom: 10px;
  border: 1px solid black;
  
}
.refresh p{
  padding:0;
  margin: 0;
  font-weight: 600;
}
.refresh > img{
  width: 20px;
  height: 20px;
  /* border: 1px solid;
  border-radius: 5px; */
}
